/* Custom Fonts */
body { 
    font-family: 'Inter', 'Sarabun', sans-serif; 
}

/* Custom Range Slider Styling */
input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    background: transparent;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #4F46E5;
    cursor: pointer;
    margin-top: -6px; 
    box-shadow: 0 0 0 4px rgba(79, 70, 229, 0.2);
    transition: transform 0.1s;
}

input[type=range]::-webkit-slider-thumb:hover {
    transform: scale(1.1);
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    background: #E5E7EB;
    border-radius: 2px;
}

/* Hide Scrollbar but keep functionality */
.no-scrollbar::-webkit-scrollbar { 
    display: none; 
}
.no-scrollbar { 
    -ms-overflow-style: none; 
    scrollbar-width: none; 
}